# Android
/winit-android                      @MarijnS95

# Apple (AppKit + UIKit)
/winit-appkit                       @madsmtm
/winit-uikit                        @madsmtm
/winit-common/src/core_foundation   @madsmtm
/winit-common/src/event_handler.rs  @madsmtm

# XKB
/winit-common/src/xkb               @kchibisov

# Wayland
/winit-wayland                      @kchibisov

# X11
/winit-x11                          @kchibisov @notgull

# Web
/src/platform/web.rs                @daxpedda
/src/platform_impl/web              @daxpedda

# Windows (Win32)
/winit-win32                        @notgull

# Orbital (Redox OS)
/winit-orbital                      @jackpot51
