language: rust

env:
  global:
    - secure: "FfubMXYXu2e7chvdfKBkc+aKPkvoBOb5Idg0KCYuD++qPFIBYg6pUE8H8WvU+V7RsEBu5vshhn3dzjkKs+LXIdo5PQUMZutAgy83g5SGxRn8Ra79GjBVBs6+XOEhFun/+7fGj2Ly/AK6BTDpqyYAhAUS7jIaF6/+JWNwPwEYfdQ="

install:
  - sudo apt-get install libXxf86vm-dev libosmesa6-dev

script:
  - cargo build --verbose
  - cargo test --no-run --verbose
  - cargo test --verbose --features "headless" --no-default-features

os:
  - linux
  - osx

after_success: |
    [ $TRAVIS_BRANCH = master ] &&
    [ $TRAVIS_PULL_REQUEST = false ] &&
    cargo doc &&
    echo '<meta http-equiv=refresh content=0;url=glutin/index.html>' > target/doc/index.html &&
    sudo pip install ghp-import &&
    ghp-import -n target/doc &&
    git push -fq https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages
