{
	"module": {
		"type": "es6"
	},
	"isModule": true,
	"minify": true,
	"jsc": {
		"parser": {
			"syntax": "typescript"
		},
		"target": "es2022",
		"minify": {
			"compress": {
				"unused": true
			},
			"mangle": true
		}
	}
}
